/*=============================================>>>>>
= Body font colour =
===============================================>>>>>*/

/*=============================================>>>>>
= Brand colours =
===============================================>>>>>*/
$primary: #aed9e0;
$secondary: #b8f2e6;
$success: #4bb543;
$warning: #f0ad4e;
$danger: #d9534f;
$info: #5bc0de;
$light: #f5f5f5;
$dark: #5e6472;
$logo: #ffa69e;

$black: #000000;
$white: #ffffff;
$off-white: #f5f5f5;
$off-black: #333333;
