.btn {
  @include button-font;
  width: fit-content;
  height: 3rem;
  min-width: 100px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: 0;
  text-transform: uppercase;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  .btnText,
  .btnIcon {
    display: inline-flex;
    align-items: center;
    padding: 0 8px;
    height: 100%;
  }
  .btnText {
    white-space: nowrap;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btnIcon {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0;
    height: 100%;
  }
}
.btn:hover,
.btn:active {
  box-shadow: 0 0.5em 0.5em -0.4em gray;
  transform: translateY(-0.25em);
}

.btn.stretch {
  width: 100%;
}

.iconLeft {
  flex-direction: row-reverse;
  .btnIcon {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 0;
    height: 100%;
  }
}

// SOLID BUTTONS
// primary
.primary {
  background-color: $primary;
  color: $black;
  .btnIcon {
    background-color: darken($primary, 10%);
  }
}
.primary:hover {
  background-color: darken($primary, 10%);
}
.primary.active {
  background-color: darken($primary, 20%);
}

// secondary
.secondary {
  background-color: $secondary;
  color: $black;
  .btnIcon {
    background-color: darken($secondary, 10%);
  }
}
.secondary:hover {
  background-color: darken($secondary, 10%);
}
.secondary.active {
  background-color: darken($secondary, 20%);
}
.secondary.active:hover {
  background-color: darken($secondary, 20%);
}

// success
.success {
  background-color: $success;
  color: $white;
  .btnIcon {
    background-color: darken($success, 10%);
  }
}
.success:hover {
  background-color: darken($success, 10%);
}
.success.active {
  background-color: darken($success, 20%);
}
.success.active:hover {
  background-color: darken($success, 20%);
}

// warning
.warning {
  background-color: $warning;
  color: $white;
  .btnIcon {
    background-color: darken($warning, 10%);
  }
}
.warning:hover {
  background-color: darken($warning, 10%);
}
.warning.active {
  background-color: darken($warning, 20%);
}
.warning.active:hover {
  background-color: darken($warning, 20%);
}

// danger
.danger {
  background-color: $danger;
  color: $white;
  .btnIcon {
    background-color: darken($danger, 10%);
  }
}
.danger:hover {
  background-color: darken($danger, 10%);
}
.danger.active {
  background-color: darken($danger, 20%);
}
.danger.active:hover {
  background-color: darken($danger, 20%);
}

// info
.info {
  background-color: $info;
  color: $white;
  .btnIcon {
    background-color: darken($info, 10%);
  }
}
.info:hover {
  background-color: darken($info, 10%);
}
.info.active {
  background-color: darken($info, 20%);
}
.info.active:hover {
  background-color: darken($info, 20%);
}

// light
.light {
  background-color: $light;
  color: $black;
  .btnIcon {
    background-color: darken($light, 10%);
  }
}
.light:hover {
  background-color: darken($light, 10%);
}
.light.active {
  background-color: darken($light, 20%);
}
.light.active:hover {
  background-color: darken($light, 20%);
}

// dark
.dark {
  background-color: $dark;
  color: $white;
  .btnIcon {
    background-color: darken($dark, 10%);
  }
}
.dark:hover {
  background-color: darken($dark, 10%);
}
.dark.active {
  background-color: darken($dark, 20%);
}
.dark.active:hover {
  background-color: darken($dark, 20%);
}

// OUTLINE BUTTONS
// primaryOutline
.primaryOutline {
  background-color: transparent;
  color: $primary;
  border: 1px solid $primary;
}
.primaryOutline:hover {
  background-color: $primary;
  color: $black;
}

// secondaryOutline
.secondaryOutline {
  background-color: transparent;
  color: $secondary;
  border: 1px solid $secondary;
}
.secondaryOutline:hover {
  background-color: $secondary;
  color: $black;
}

// successOutline
.successOutline {
  background-color: transparent;
  color: $success;
  border: 1px solid $success;
}
.successOutline:hover {
  background-color: $success;
  color: $white;
}

// warningOutline
.warningOutline {
  background-color: transparent;
  color: $warning;
  border: 1px solid $warning;
}
.warningOutline:hover {
  background-color: $warning;
  color: $white;
}

// dangerOutline
.dangerOutline {
  background-color: transparent;
  color: $danger;
  border: 1px solid $danger;
}
.dangerOutline:hover {
  background-color: $danger;
  color: $white;
}

// infoOutline
.infoOutline {
  background-color: transparent;
  color: $info;
  border: 1px solid $info;
}
.infoOutline:hover {
  background-color: $info;
  color: $white;
}

// lightOutline
.lightOutline {
  background-color: transparent;
  color: darken($light, 20%);
  border: 1px solid $light;
}
.lightOutline:hover {
  background-color: $light;
  color: $black;
}

// darkOutline
.darkOutline {
  background-color: transparent;
  color: $dark;
  border: 1px solid $dark;
}
.darkOutline:hover {
  background-color: $dark;
  color: $white;
}

// DISABLED BUTTON
.btnDisabled {
  background-color: $light;
  border: 1px solid darken($light, 20%);
  .btnText {
    color: darken($light, 20%);
  }
  .btnIcon {
    background-color: $light;
    color: darken($light, 20%);
  }
}
.btnDisabled:hover {
  transform: none;
  box-shadow: none;
  background-color: $light;
  border: 1px solid darken($light, 20%);
  .btnText {
    color: darken($light, 20%);
  }
  .btnIcon {
    background-color: $light;
    color: darken($light, 20%);
  }
}

// SIZES
.sm {
  .btnText {
    margin: 10px 10px;
    font-size: 1rem;
  }
  .btnIcon {
    font-size: 1.5em;
  }
}
.md {
  height: 4rem;
  .btnText {
    margin: 15px 15px;
    font-size: 1.5rem;
  }
  .btnIcon {
    font-size: 2em;
  }
}
.lg {
  height: 5rem;
  .btnText {
    margin: 20px 20px;
    font-size: 2rem;
  }
  .btnIcon {
    font-size: 2.5em;
  }
}
