.mainContainer {
  @include general-font;
  width: 100vw;
  height: 80px;
  background-color: $secondary;
  display: flex;
  flex-direction: row;

  .logoContainer,
  .navContainer {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .logoContainer {
    width: 320px;
    .logoSquare {
      position: relative;
      margin-left: 30px;
      width: 60px;
      height: 60px;
      background-color: $logo;
      display: flex;
      align-items: center;
      border-radius: 5px;
      // border: 1px solid darken($logo, 10%);
      border: 2px solid lighten($logo, 10%);
      span {
        @include logo-font4;
        font-weight: 400;
        color: $dark;
        font-size: 3rem;
        padding: 5px 5.5px;
        z-index: 10;
        cursor: pointer;
      }
    }
    .logoSquare::after {
      content: '';
      width: 0px;
      height: 0px;
      // background-color: lighten($logo, 10%);
      position: absolute;
      // border-radius: 50%;
      border-right: 50px solid transparent;
      border-bottom: 50px solid transparent;
      border-left: 50px solid lighten($logo, 10%);
      top: 3px;
      left: 3px;
    }
  }
  .navContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: $dark;
    font-size: 1.2rem;
    text-transform: uppercase;
    .navItem {
      padding: 10px 10px 3px 10px;
      border: 4px solid transparent;
      // border-radius: 5px;
      cursor: pointer;
    }
    .navItem:hover {
      background-color: lighten($secondary, 10%);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-color: $logo;
    }
  }

  &.dark {
    background-color: $dark;
    .logoContainer {
      .logoSquare {
        background-color: darken($dark, 10%);
        // border: 1px solid darken($logo, 10%);
        border: 2px solid lighten($dark, 10%);
        span {
          color: $logo;
        }
      }
      .logoSquare::after {
        border-left: 50px solid lighten($dark, 10%);
      }
    }
    .navContainer {
      color: $yellowTheme;
      .navItem:hover {
        background-color: lighten($dark, 10%);
        border-bottom-color: $yellowTheme;
      }
    }
  }

  .navContainerSmall {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: $dark;
    height: 100vh;
    width: 90vw;
    z-index: 100;
    visibility: hidden;
  }
  .hamburguerIcon {
    visibility: hidden;
  }
}

@media (max-width: 800px) {
  .mainContainer {
    .navContainer {
      border: 1px solid red;
      display: none;
    }
    .navContainerSmall {
      position: fixed;
      width: 0;
      height: 100vh;
      visibility: hidden;
      top: 0;
      right: 0;
      background-color: $dark;
      transition: visibility 0s 1s, width 0.5s ease-in-out;
      .navItemContainer {
        width: 100%;
        height: 100%;
        visibility: hidden;
      }

      &.navOpen {
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: visible;
        opacity: 1;
        width: 70vw;
        transition: width 0.5s ease-in-out;
        .navItemContainer {
          width: 100%;
          height: 100%;
          visibility: visible;
          transition: visibility 0s 0.5s;
          padding: 20px;
          .navItem {
            @include general-font;
            color: $yellowTheme;
            padding: 10px;
            font-size: 1.2rem;
          }
        }
      }
    }
    .hamburguerIcon {
      visibility: visible;
      color: lighten($dark, 20%);
      position: absolute;
      top: 20px;
      right: 10px;
      font-size: 3rem;
      z-index: 101;
    }
  }
}
