.container {
  min-height: 100vh;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;

  &.darkMode {
    background-color: lighten($dark, 10%);
    input,
    textarea {
      color: $light !important;
      background-color: lighten($dark, 10%);
    }
    input::placeholder,
    textarea::placeholder {
      color: lighten($dark, 20%) !important;
    }
    input::-webkit-datetime-edit-text {
      color: $light !important;
    }
    input::-webkit-datetime-edit-month-field {
      color: $light !important;
    }
    input::-webkit-datetime-edit-day-field {
      color: $light !important;
    }
    input::-webkit-datetime-edit-year-field {
      color: $light !important;
    }
  }
}

.container.loading {
  // loading
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
