.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  .newChallengeWrapper {
    width: 50%;
  }
}

@media (max-width: 1080px) {
  .mainContainer {
    .newChallengeWrapper {
      width: 90%;
    }
  }
}
